body, html{
    height: 100%;
    /* background: #222D32; */
    font-family: 'Roboto', sans-serif;
    background-image: url('elephant.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: 100% 100%;
    overflow: auto;
}

.login-container{
    background: #1A2226;
    margin: 12vh auto;
    width: 31vw;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 25px;
}

.error-container{
    background: #1A2226;
    margin: 30vh auto;
    width: 30vw;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 25px;
}

.login-icon{
    font-size: 75px;
    text-align: center;
    background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-title {
    margin: 20px;
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #ECF0F5;
}
.form-group{
    margin: 50px 20px;
}
.form-group > label {
    font-weight: bold;
    color: #6C6C6C;
    letter-spacing: 1px;
}

.form-group > input {
    font-size: 16px;
    font-weight: bold;
    color: #ECF0F5;
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-radius: 0px;
    outline: 0;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.login-buttons{
    margin: 0 20px;
    text-align:right;
}
.login-buttons > *{
    margin-left: 5px;
}

.btn-outline-primary {
    border-color: #0DB8DE;
    color: #0DB8DE;
    background-color:#1A2226 ;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-outline-primary:hover {
    background-color: #0DB8DE;
}

.footer{
    width:100%;
    position:fixed;
    bottom: 2vh;
    text-align: center;
    color: #ECF0F5;
}

label, h1 {
    color: #ECF0F5;
}

.errormessage{
    text-align: center;
}

.errormessage > label {
    margin: 30px 0px;
}

img {
    height: 100%;
    width: 20vw;
}

table{
    text-align: center;
}

thead{
    position: sticky;
    top:0;
    text-align: center;
}

.nowrap{
    white-space: nowrap;
}

.table-container{
    width: fit-content;
    height:fit-content;
    margin:5vh 5vw;
}

.generate-container{
    width: fit-content;
    height:fit-content;
    margin: 15% auto;
    background: #1A2226;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 25px;
}

.generate-container2{
    width: fit-content;
    height:fit-content;
    margin: 5% auto;
    background: #1A2226;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 25px;
}

.dashboard-form-group > *{
    margin-left: 5px;
    font-size: 24px;
}

.dashboard-form-group > label {
    font-weight: bold;
    color: #ECF0F5;
    letter-spacing: 1px;
}

.dashboard-form-group > input {
    font-size: 24px;
    font-weight: bold;
    color: #ECF0F5;
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-radius: 0px;
    outline: 0;
}

.dashboard-alert{
    height:fit-content;
    width:fit-content;
    margin: 5vh auto;
}

.add-remove-column{
    vertical-align: middle;
}

