<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../styles.css">
    <title>Create Account</title>
</head>
<body>
    <div class="login-container" >

            <div class="login-icon">
                <a href="/">
                    <i class="fa-solid fa-dove"></i>
                    <i class="fa-solid fa-paw"></i>
                    <i class="fa-solid fa-fish-fins"></i>
                </a>
            </div>
            <div class="login-title">
                Enter your credentials:
            </div>
            <form action="/create" method="post">
                <div class="form-group">
                    <label for="username">USERNAME</label>
                    <input type="text" name="username" id="" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">PASSWORD</label>
                    <input type="password" name="password" id="" class="form-control">      
            </div>
            <div class="login-buttons">
                <a href="/" class="btn btn-outline-primary">Back</a>
                <button type="submit" class="btn btn-outline-primary">Create!</button>
            </div>
        </form>
    </div>
    <div class="footer">
        ©2022 Some amazing Brand Inc. All Rights Reserved.
    </div>
</body>
</html>