<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../styles.css"/>
    <link rel="stylesheet" href="../style.css"/>
    <title>Dashboard</title>
</head>
<body>
    <div class="alert alert-success dashboard-alert" role="alert" th:if="${statusmessage > 0}">
        <div th:if="${statusmessage == 1}"> 
        User account <span th:text="${user.username}"></span> successfully created
        </div>
        <div th:if="${statusmessage == 2}">
        Successfully added <span th:text="${addedanimal.name}"></span>
        </div>
        <div th:if="${statusmessage == 3}">
        Successfully removed <span th:text="${addedanimal.name}"></span>
        </div>
        <div th:if="${statusmessage == 4}">
        Successfully changed profile to private.
        </div>
        <div th:if="${statusmessage == 5}">
        Successfully changed profile to public.
        </div>
    </div>

    <div class="table-container" th:unless="${favanimals.size()>0}">
        <h1>Welcome, <span th:text="${user.username}"></span>. You have not added any animals yet. 
            <a th:if="${user.privated == false}" class="btn btn-outline-primary" href="/protected/private">Change to Private Profile</a>
            <a th:if="${user.privated == true}" class="btn btn-outline-primary" href="/protected/public">Change to Public Profile</a>
            <a class="btn btn-outline-primary" href="/logout">Logout</a>
        </h1> 
    </div>
    <div class="table-container" th:if="${favanimals.size()>0}">
        <h1>Welcome, <span th:text="${user.username}"></span>. Here are your favourite animals.
            <a th:if="${user.privated == false}" class="btn btn-outline-primary" href="/protected/private">Change to Private Profile</a>
            <a th:if="${user.privated == true}" class="btn btn-outline-primary" href="/protected/public">Change to Public Profile</a>
        </h1>
    </div>

    <div class="generate-container" th:unless="${favanimals.size() >0}">
        <form action="/protected/list" method="post">
            <div class="dashboard-form-group">
            <label for="num">Generate new animals (1-10)</label>
            <input type="number" name="num" id="" max="10" min="1" required>
            <button class="btn btn-outline-primary" type="submit">Generate!</button>
        </div>
        </form>
    </div>
    <div class="generate-container2" th:if="${favanimals.size() >0}">
        <form action="/protected/list" method="post">
            <div class="dashboard-form-group">
            <label for="num">Generate new animals (1-10)</label>
            <input type="number" name="num" id="" max="10" min="1" required>
            <button class="btn btn-outline-primary" type="submit">Generate!</button>
        </div>
        </form>
    </div>
    <div class="table-container" th:if="${favanimals.size() >0}">
    <table class="table table-dark table-striped" >
        <thead>
            <tr>
                <th>Animal</th>
                <th>Name</th>
                <th>Type</th>
                <th>Active During</th>
                <th>Habitat</th>
                <th>Diet</th>
                <th>Location</th>
                <th>Lifespan</th>
                <th>Length</th>
                <th>Weight</th>
                <th><a class="btn btn-outline-primary" href="/logout">Logout</a></th>
            </tr>
        </thead>
        <tr th:each="a : ${favanimals}">
            <form action="/protected/remove" method="post">
                <td><img src="#" th:src="${a.image_url}" alt="" ></td>
                <input type="hidden" name="image_url" th:value="${a.image_url}">

                <td th:text="${a.name}"></td>
                <input type="hidden" name="name" th:value="${a.name}">

                <td th:text="${a.animal_type}"></td>
                <input type="hidden" name="animal_type" th:value="${a.animal_type}">

                <td th:text="${a.active_time}"></td>
                <input type="hidden" name="active_time" th:value="${a.active_time}">

                <td th:text="${a.habitat}"></td>
                <input type="hidden" name="habitat" th:value="${a.habitat}">

                <td th:text="${a.diet}"></td>
                <input type="hidden" name="diet" th:value="${a.diet}">

                <td th:text="${a.location}"></td>
                <input type="hidden" name="location" th:value="${a.location}">

                <td><span th:text="${a.lifespan}"></span> years</td>
                <input type="hidden" name="lifespan" th:value="${a.lifespan}">

                <td class="nowrap"><span th:text="${a.min_length}"></span> - <span th:text="${a.max_length}"></span>ft</td>
                <input type="hidden" name="min_length" th:value="${a.min_length}">
                <input type="hidden" name="max_length" th:value="${a.max_length}">
                
                <td class="nowrap"><span th:text="${a.min_weight}"></span> - <span th:text="${a.max_weight}"></span>lbs</td>
                <input type="hidden" name="min_weight" th:value="${a.min_weight}">
                <input type="hidden" name="max_weight" th:value="${a.max_weight}">
                
                <td class="add-remove-column">
                        <button class="btn btn-outline-primary" type="submit">Remove</button>
                        <br>
                        <label th:if="${a.likes !=0}">
                            Liked by you and <span th:text="${a.likes}"></span> other users
                        </label>
                        <label th:if="${a.likes ==0}">
                            Liked by you
                        </label>
                </td>
            </form>
        </tr>
    </table>
</div>
</body>
</html>