<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Your current balance is <span th:text="${user.savings}"></span></h1>
    <form action="/savings/add" method="post">
        <input type="number" name="value" id="">
        <button type="submit">Add</button>  
    </form>
    <a href="/logout">Logout</a>
</body>
</html>